<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="row">
        <div class="col-3">
          <p><button (click)='clicked = !clicked' class="btn btn-danger" ion-button>Clicked Button</button></p>
          <p *ngIf="clicked">activo el botón</p>
          <p *ngIf="!clicked">desactivo botón</p>
        </div>
    </div>
    <div *ngIf="!pringaos.length">
      No hay pringaos, añade uno!!!
    </div>
    <div class="row">
        <button (click)='showPringao()' class="btn btn-danger" style="margin-bottom: 2px" ion-button>Show pringao on console</button>
    </div>

    <ion-card *ngFor="let pringao of pringaos">
        
          <ion-card-header>
            Nombre : {{ pringao.name | uppercase }}
          </ion-card-header>
        
          <ion-card-content>
              <ion-card-title>
                  Nivel Pringao: {{ pringao.nivelPringao }}
              </ion-card-title>
              <ion-row>
                Descripcion: {{ pringao.description }}
              </ion-row>
              <ion-row>
                <ion-col>
                  Palitos: {{ pringao.palitos }}
                </ion-col>
                <ion-col>
                    <button ion-button (click)='addPalito(pringao)'>+</button>
                    <button  
                      (click)='removePalito(pringao)'
                      style="margin-left: 2px" ion-button>-</button>
                </ion-col>
              </ion-row>
              <ion-row>
                  <button (click)='updatePringao(pringao)' ion-button>Modificar</button>
              </ion-row>
            <!-- Add card content here! -->
          </ion-card-content>
        
        </ion-card>
    <div class="row">
      <button (click)='addPringao = !addPringao' ion-button>Add pringao</button>
    </div>
    <div class="row" *ngIf="addPringao">
        <ion-list>
          <ion-item>
            <ion-label stacked>Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="pringao.name" name="name"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label stacked>Descripcion</ion-label>
            <ion-input type="text" [(ngModel)]="pringao.description" name="description"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Nivel Pringao</ion-label>
            <ion-input type="text" [(ngModel)]="pringao.nivelPringao" name="nivelPringao"></ion-input>
          </ion-item>    
          <button ion-button color="danger" (click)='addPringao()'>Añadir Pringao</button>
        </ion-list>
    </div>
  </div>
</ion-content>